html, body {
  height: 100%;
}

html.transition, html.transition > body {
  overflow: hidden;
}

html.transition .topbar {
  z-index: 999998;
  -webkit-transform-style: preserve-3d;
}

.topbar ~ .view {
  top: 40px;
}

.view {
  border: 0;
  width: 100%;
  min-height: 100%;
  display: none;
  position: relative;
  -webkit-transform-style: preserve-3d;
}

.view.active {
  display: block;
}

.view.push, .view.pop {
  min-height: 0;
  height: 100%;
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

/* slideHorizontal */
.view.slideHorizontal {
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  transition: transform 0.5s ease;
}

.view.push.slideHorizontal {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.view.push.slideHorizontal.transition {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.view.push.slideHorizontal.active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.view.push.slideHorizontal.active.transition {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.view.pop.slideHorizontal {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.view.pop.slideHorizontal.transition {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.view.pop.slideHorizontal.active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.view.pop.slideHorizontal.active.transition {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

/* slideVertical */
.view.slideVertical {
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  transition: transform 0.5s ease;
}

.view.push.slideVertical {
  z-index: 1;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.view.push.slideVertical.transition {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.view.push.slideVertical.active {
  z-index: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.view.push.slideVertical.active.transition {
  -webkit-transform: translate3d(0, 1%, 0);
  -moz-transform: translateY(1%);
  -o-transform: translateY(1%);
  transform: translateY(1%);
}

.view.pop.slideVertical {
  z-index: 0;
  -webkit-transform: translate3d(0, 1%, 0);
  -moz-transform: translateY(1%);
  -o-transform: translateY(1%);
  transform: translateY(1%);
}

.view.pop.slideVertical.transition {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.view.pop.slideVertical.active {
  z-index: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.view.pop.slideVertical.active.transition {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* flipHorizontal (WebKit-only) */
.view.flipHorizontal {
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 1s, 1s;
  -webkit-transition-timing-function: ease, ease;
  transition-property: transform, box-shadow;
  transition-duration: 1s, 1s;
  transition-timing-function: ease, ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 999999;
}

.view.push.flipHorizontal {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 180deg);
  transform: rotateY(180deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.view.push.flipHorizontal.transition {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 0deg);
  transform: rotateY(0deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.view.push.flipHorizontal.active {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 0deg);
  transform: rotateY(0deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.view.push.flipHorizontal.active.transition {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, -180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.view.pop.flipHorizontal {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, -180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.view.pop.flipHorizontal.transition {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 0deg);
  transform: rotateY(0deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.view.pop.flipHorizontal.active {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 0deg);
  transform: rotateY(0deg);
  -webkit-box-shadow: inset 0 0 99999px 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 99999px 99999px rgba(0, 0, 0, 0);
}

.view.pop.flipHorizontal.active.transition {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 180deg);
  transform: rotateY(180deg);
  -webkit-box-shadow: inset 0 0 99999px 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 99999px 99999px rgba(0, 0, 0, 0.5);
}

/* flipVertical (WebKit-only) */
.view.flipVertical {
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 1s, 1s;
  -webkit-transition-timing-function: ease, ease;
  transition-property: transform, box-shadow;
  transition-duration: 1s, 1s;
  transition-timing-function: ease, ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.view.push.flipVertical {
  -webkit-transform: perspective(2000) rotate3d(1, 0, 0, -180deg);
  transform: rotateX(-180deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.view.push.flipVertical.transition {
  -webkit-transform: perspective(2000) rotate3d(1, 0, 0, 0deg);
  transform: rotateX(0deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.view.push.flipVertical.active {
  -webkit-transform: perspective(2000) rotate3d(1, 0, 0, 0deg);
  transform: rotateX(0deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.view.push.flipVertical.active.transition {
  -webkit-transform: perspective(2000) rotate3d(1, 0, 0, 180deg);
  transform: rotateX(180deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.view.pop.flipVertical {
  -webkit-transform: perspective(2000) rotate3d(1, 0, 0, 180deg);
  transform: rotateX(180deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.view.pop.flipVertical.transition {
  -webkit-transform: perspective(2000) rotate3d(1, 0, 0, 0deg);
  transform: rotateX(0deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.view.pop.flipVertical.active {
  -webkit-transform: perspective(2000) rotate3d(1, 0, 0, 0deg);
  transform: rotateX(0deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.view.pop.flipVertical.active.transition {
  -webkit-transform: perspective(2000) rotate3d(1, 0, 0, -180deg);
  transform: rotateX(-180deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

/* cardSwap (WebKit-only) */
.view.cardSwap {
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 1s, 1s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 1, 0.75, 0.5), cubic-bezier(0.25, 1, 0.75, 0.5);
  transition-property: transform, box-shadow;
  transition-duration: 1s, 1s;
  transition-timing-function: cubic-bezier(0.25, 1, 0.75, 0.5), cubic-bezier(0.25, 1, 0.75, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.view.push.cardSwap {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, -30deg) translate3d(100%, 0, -2000px);
  transform: rotateY(-180deg) scale(0.5) translateX(100%);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.view.push.cardSwap.transition {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 0deg) translate3d(0, 0, 0);
  transform: rotateY(0deg) scale(1) translateX(0);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.view.push.cardSwap.active {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 0deg) translate3d(0, 0, 0);
  transform: rotateY(0deg) scale(1) translateX(0);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.view.push.cardSwap.active.transition {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 50deg) translate3d(0, 0, -1500px);
  transform: rotateY(180deg) scale(0.5) translateX(0);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.view.pop.cardSwap {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 30deg) translate3d(-100%, 0, -2000px);
  transform: rotateY(-180deg) scale(0.5) translateX(100%);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.view.pop.cardSwap.transition {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 0deg) translate3d(0, 0, 0);
  transform: rotateY(0deg) scale(1) translateX(0);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.view.pop.cardSwap.active {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 0deg) translate3d(0, 0, 0);
  transform: rotateY(0deg) scale(1) translateX(0);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.view.pop.cardSwap.active.transition {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, -50deg) translate3d(0, 0, -1500px);
  transform: rotateY(180deg) scale(0.5) translateX(0);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

/* crossFade */
.view.crossFade {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.view.push.crossFade {
  z-index: 1;
  opacity: 0;
}

.view.push.crossFade.transition {
  opacity: 1;
}

.view.push.crossFade.active {
  z-index: 0;
  opacity: 1;
}

.view.push.crossFade.active.transition {
  opacity: 0;
}

.view.pop.crossFade {
  z-index: 0;
  opacity: 0;
}

.view.pop.crossFade.transition {
  opacity: 1;
}

.view.pop.crossFade.active {
  z-index: 1;
  opacity: 1;
}

.view.pop.crossFade.active.transition {
  opacity: 0;
}

/* zoom */
.view.zoom {
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-duration: 0.5s, 0.5s;
  -webkit-transition-timing-function: ease, ease;
  -moz-transition-property: -moz-transform, opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 1);
  /* Disabled for performance on Gecko */
  /*-moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 1);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 1);*/
  z-index: 999999;
}

.view.push.zoom {
  z-index: 1;
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 1);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.view.push.zoom.transition {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.view.push.zoom.active {
  z-index: 2;
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.view.push.zoom.active.transition {
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
}

.view.pop.zoom {
  z-index: 2;
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
}

.view.pop.zoom.transition {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.view.pop.zoom.active {
  z-index: 1;
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.view.pop.zoom.active.transition {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 1);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}
