html, body {
  height: 100%;
}

body.transition .topbar {
  z-index: 999998;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: perspective(2000) translate3d(0, 0, 1px);
}

body.transition .view.active {
  -webkit-transform-style: preserve-3d;
  -webkit-transform: perspective(0) translate3d(0, 0, 1px);
}

.topbar .container > .btn {
  background-color: #333;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111), color-stop(25%, #111), to(#333));
  background-image: -webkit-linear-gradient(#111, #111 25%, #333);
  background-image: -moz-linear-gradient(top, #111, #111 25%, #333);
  background-image: -ms-linear-gradient(#111, #111 25%, #333);
  background-image: -o-linear-gradient(#111, #111 25%, #333);
  background-image: linear-gradient(#111, #111 25%, #333);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111', endColorstr='#333', GradientType=0);
  border: 1px solid #111;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 1);
  margin: 5px 32px 0 5px;
  opacity: 0;
}

.topbar .container > .btn:hover {
  background-position: 0 -15px;
  color: #eee;
}

.topbar .container > .btn.active {
  opacity: 1;
}

.topbar ~ .view {
  top: 40px;
}

.topbar ~ .transition-container {
  top: 40px;
}

.view {
  background-color: #dee0e6;
  border: 0;
  width: 100%;
  min-height: 100%;
  display: none;
  position: relative;
}

.view.active {
  display: block;
}

.transition-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
}

.transition-container.active {
  z-index: 2;
}

.transition-container.transition > .view {
  display: block;
}

/* slideHorizontal */
.transition-container.slideHorizontal {
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  transition: transform 0.5s ease;
}

.transition-container.push.slideHorizontal {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.transition-container.push.slideHorizontal.transition {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.transition-container.push.slideHorizontal.active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.transition-container.push.slideHorizontal.active.transition {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.transition-container.pop.slideHorizontal {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.transition-container.pop.slideHorizontal.transition {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.transition-container.pop.slideHorizontal.active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.transition-container.pop.slideHorizontal.active.transition {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

/* slideVertical */
.transition-container.slideVertical {
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  transition: transform 0.5s ease;
}

.transition-container.push.slideVertical {
  z-index: 1;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.transition-container.push.slideVertical.transition {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.transition-container.push.slideVertical.active {
  z-index: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.transition-container.push.slideVertical.active.transition {
  -webkit-transform: translate3d(0, 1%, 0);
  -moz-transform: translateY(1%);
  -o-transform: translateY(1%);
  transform: translateY(1%);
}

.transition-container.pop.slideVertical {
  z-index: 0;
  -webkit-transform: translate3d(0, 1%, 0);
  -moz-transform: translateY(1%);
  -o-transform: translateY(1%);
  transform: translateY(1%);
}

.transition-container.pop.slideVertical.transition {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.transition-container.pop.slideVertical.active {
  z-index: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.transition-container.pop.slideVertical.active.transition {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* flipHorizontal (WebKit-only) */
.transition-container.flipHorizontal {
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 1s, 1s;
  -webkit-transition-timing-function: ease, ease;
  transition-property: transform, box-shadow;
  transition-duration: 1s, 1s;
  transition-timing-function: ease, ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 999999;
}

.transition-container.push.flipHorizontal {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 180deg);
  transform: rotateY(180deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.transition-container.push.flipHorizontal.transition {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 0deg);
  transform: rotateY(0deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.transition-container.push.flipHorizontal.active {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 0deg);
  transform: rotateY(0deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.transition-container.push.flipHorizontal.active.transition {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, -180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.transition-container.pop.flipHorizontal {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, -180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.transition-container.pop.flipHorizontal.transition {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 0deg);
  transform: rotateY(0deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.transition-container.pop.flipHorizontal.active {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 0deg);
  transform: rotateY(0deg);
  -webkit-box-shadow: inset 0 0 99999px 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 99999px 99999px rgba(0, 0, 0, 0);
}

.transition-container.pop.flipHorizontal.active.transition {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 180deg);
  transform: rotateY(180deg);
  -webkit-box-shadow: inset 0 0 99999px 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 99999px 99999px rgba(0, 0, 0, 0.5);
}

/* flipVertical (WebKit-only) */
.transition-container.flipVertical {
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 1s, 1s;
  -webkit-transition-timing-function: ease, ease;
  transition-property: transform, box-shadow;
  transition-duration: 1s, 1s;
  transition-timing-function: ease, ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.transition-container.push.flipVertical {
  -webkit-transform: perspective(2000) rotate3d(1, 0, 0, -180deg);
  transform: rotateX(-180deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.transition-container.push.flipVertical.transition {
  -webkit-transform: perspective(2000) rotate3d(1, 0, 0, 0deg);
  transform: rotateX(0deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.transition-container.push.flipVertical.active {
  -webkit-transform: perspective(2000) rotate3d(1, 0, 0, 0deg);
  transform: rotateX(0deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.transition-container.push.flipVertical.active.transition {
  -webkit-transform: perspective(2000) rotate3d(1, 0, 0, 180deg);
  transform: rotateX(180deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.transition-container.pop.flipVertical {
  -webkit-transform: perspective(2000) rotate3d(1, 0, 0, 180deg);
  transform: rotateX(180deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.transition-container.pop.flipVertical.transition {
  -webkit-transform: perspective(2000) rotate3d(1, 0, 0, 0deg);
  transform: rotateX(0deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.transition-container.pop.flipVertical.active {
  -webkit-transform: perspective(2000) rotate3d(1, 0, 0, 0deg);
  transform: rotateX(0deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.transition-container.pop.flipVertical.active.transition {
  -webkit-transform: perspective(2000) rotate3d(1, 0, 0, -180deg);
  transform: rotateX(-180deg);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

/* cardSwap (WebKit-only) */
.transition-container.cardSwap {
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 1s, 1s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 1, 0.75, 0.5), cubic-bezier(0.25, 1, 0.75, 0.5);
  transition-property: transform, box-shadow;
  transition-duration: 1s, 1s;
  transition-timing-function: cubic-bezier(0.25, 1, 0.75, 0.5), cubic-bezier(0.25, 1, 0.75, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.transition-container.push.cardSwap {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, -30deg) translate3d(100%, 0, -2000px);
  transform: rotateY(-180deg) scale(0.5) translateX(100%);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.transition-container.push.cardSwap.transition {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 0deg) translate3d(0, 0, 0);
  transform: rotateY(0deg) scale(1) translateX(0);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.transition-container.push.cardSwap.active {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 0deg) translate3d(0, 0, 0);
  transform: rotateY(0deg) scale(1) translateX(0);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.transition-container.push.cardSwap.active.transition {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 50deg) translate3d(0, 0, -1500px);
  transform: rotateY(180deg) scale(0.5) translateX(0);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.transition-container.pop.cardSwap {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 30deg) translate3d(-100%, 0, -2000px);
  transform: rotateY(-180deg) scale(0.5) translateX(100%);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.transition-container.pop.cardSwap.transition {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 0deg) translate3d(0, 0, 0);
  transform: rotateY(0deg) scale(1) translateX(0);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.transition-container.pop.cardSwap.active {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, 0deg) translate3d(0, 0, 0);
  transform: rotateY(0deg) scale(1) translateX(0);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0);
}

.transition-container.pop.cardSwap.active.transition {
  -webkit-transform: perspective(2000) rotate3d(0, 1, 0, -50deg) translate3d(0, 0, -1500px);
  transform: rotateY(180deg) scale(0.5) translateX(0);
  -webkit-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

/* crossFade */
.transition-container.crossFade {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.transition-container.push.crossFade {
  z-index: 1;
  opacity: 0;
}

.transition-container.push.crossFade.transition {
  opacity: 1;
}

.transition-container.push.crossFade.active {
  z-index: 0;
  opacity: 1;
}

.transition-container.push.crossFade.active.transition {
  opacity: 0;
}

.transition-container.pop.crossFade {
  z-index: 0;
  opacity: 0;
}

.transition-container.pop.crossFade.transition {
  opacity: 1;
}

.transition-container.pop.crossFade.active {
  z-index: 1;
  opacity: 1;
}

.transition-container.pop.crossFade.active.transition {
  opacity: 0;
}

/* zoom */
.transition-container.zoom {
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-duration: 0.5s, 0.5s;
  -webkit-transition-timing-function: ease, ease;
  -moz-transition-property: -moz-transform, opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 1);
  /* Disabled for performance on Gecko */
  /*-moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 1);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 1);*/
  z-index: 999999;
}

.transition-container.push.zoom {
  z-index: 1;
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 1);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.transition-container.push.zoom.transition {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.transition-container.push.zoom.active {
  z-index: 2;
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.transition-container.push.zoom.active.transition {
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
}

.transition-container.pop.zoom {
  z-index: 2;
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
}

.transition-container.pop.zoom.transition {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.transition-container.pop.zoom.active {
  z-index: 1;
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.transition-container.pop.zoom.active.transition {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 1);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

/*
  Auto-grow textareas
*/
textarea.autogrow{
  border: 0;
  overflow: auto;
  resize:none;
  width: 400px;
  height: auto;
}
