body {
  background-color: #dee0e6;
}

ul.tableview > li > ul.tableview {
  display: none;
}

ul.tableview {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  list-style: none;
  margin-left: 0;
  font-size: 16px;
  margin: 1em 1em 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul.tableview:after {
  content: "";
  display: block;
  height: 1em;
}

ul.tableview > li {
  background-color: #f7f7f7;
  border: 1px solid #cacaca;
  border-top: 1px solid #fdfdfd;
  color: #000;
  padding: 0.7em 0.65em 0.85em;
  position: relative;
  text-shadow: #fff 0 1px 0;
  font-weight: bold;
}

ul.tableview > li:first-child, ul.tableview > li:first-child > a,
ul.tableview > li.header + li, ul.tableview > li.header + li > a {
  -webkit-border-radius: 0.65em 0.65em 0 0;
  -moz-border-radius-topleft: 0.65em;
  -moz-border-radius-topright: 0.65em;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-radius: 0.65em 0.65em 0 0;
}

ul.tableview > li:last-child, ul.tableview > li:last-child > a,
ul.tableview > li.last-child, ul.tableview > li.last-child > a {
  -webkit-border-radius: 0 0 0.65em 0.65em;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0.65em;
  -moz-border-radius-bottomleft: 0.65em;
  border-radius: 0 0 0.65em 0.65em;
}

ul.tableview > li:last-child:first-child, ul.tableview > li:last-child:first-child > a,
ul.tableview > li.last-child:first-child, ul.tableview > li.last-child:first-child > a,
ul.tableview > li.header + li:last-child, ul.tableview > li.header + li:last-child > a,
ul.tableview > li.header + li.last-child, ul.tableview > li.header + li.last-child > a {
  -webkit-border-radius: 0.65em;
  -moz-border-radius: 0.65em;
  border-radius: 0.65em;
}

ul.tableview > li:first-child, ul.tableview > li:active:first-child,
ul.tableview > li.header + li, ul.tableview > li.header + li:active {
  border-top: 1px solid #cacaca;
}

ul.tableview > li:active {
  border-top: 1px solid #058cf5;
}

ul.tableview > li:active, ul.tableview > li > a:active {
  background: #058cf5; /* Old browsers */
  background: -moz-linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(5, 140, 245)), color-stop(100%, rgb(1, 93, 230))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* IE10+ */
  background: linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#058cf5', endColorstr='#015de6', GradientType=0); /* IE6-9 */
  color: #fff;
  text-shadow: none;
}

ul.tableview > li.header:active, ul.tableview > li.header > a:active {
  background: none;
  border-top: none;
  color: #4c566c;
  text-shadow: #fff 0 1px 0;
}

ul.tableview > li > a {
  color :#000;
  text-decoration: none;
  outline: none;
  display: block;
  margin: -0.7em -0.65em -0.85em;
  padding: 0.7em 0.65em 0.85em;
}

ul.tableview > li.header, ul.tableview > li.header > a {
  background-color: transparent;
  border: none;
  color: #4c566c;
  padding: 0.7em 0.65em 0.85em;
  position: relative;
  text-shadow: #fff 0 1px 0;
  font-weight: bold;
}

ul.tableview > li.picker-cell > label {
  display: inline-block;
  padding: 0;
  color: #000;
  font-size: inherit;
  font-weight: bold;
  line-height: inherit;
  float: none;
  text-align: left;
  text-shadow: #fff 0 1px 0;
  width: 50%;
}

ul.tableview > li.picker-cell:active > * {
  color: #fff;
  text-shadow: none;
}

ul.tableview > li.picker-cell > span {
  color: #4c566c;
  float: right;
  font-weight: normal;
}

ul.tableview .disclosure-indicator:after {
  content: "";
  display: inline-block;
  float: right;
  border: 0.45em solid transparent;
  border-left-color: #666;
  margin: 0.2em -0.2em 0 0;
}

ul.tableview .disclosure-indicator:active:after {
  border-left-color: #fff;
}

ul.tableview .detail-disclosure-button:before {
  content: "";
  display: inline-block;
  float: right;
  background: #058cf5; /* Old browsers */
  background: -moz-linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(5, 140, 245)), color-stop(100%, rgb(1, 93, 230))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* IE10+ */
  background: linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#058cf5', endColorstr='#015de6', GradientType=0); /* IE6-9 */
  width: 1.2em;
  height: 1.2em;
  border: 0.15em solid #fff;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-shadow: 0 0.075em 0.1em rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0.075em 0.1em rgba(0, 0, 0, 1);
  box-shadow: 0 0.075em 0.1em rgba(0, 0, 0, 1);
  margin: -0.2em -0.2em 0 0;
}

ul.tableview .detail-disclosure-button:after {
  content: "";
  display: inline-block;
  float: right;
  border: 0.35em solid transparent;
  border-left-color: #f6f6f6;
  margin: 0.25em -1.3em 0 0;
}

ul.tableview .checkmark:after {
  content: "";
  display: inline-block;
  float: right;
  width: 0.8em;
  height: 0.2em;
  border: 0.2em solid transparent;
  border-left-color: #666;
  border-bottom-color: #666;
  margin: 0.2em 0 0;
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

ul.tableview .checkmark:active:after {
  border-left-color: #fff;
  border-bottom-color: #fff;
}
