.pp-split-view {
  display: none;
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pp-split-view > .pp-split-view-stack-master {
  border-right: 1px solid #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  -webkit-perspective: none;
     -moz-perspective: none;
      -ms-perspective: none;
       -o-perspective: none;
          perspective: none;
}

.pp-split-view > .pp-split-view-stack-detail {
  position: absolute;
  top: 0;
  right: 0;
  left: 321px;
  width: auto;
  height: 100%;
  -webkit-perspective: none;
     -moz-perspective: none;
      -ms-perspective: none;
       -o-perspective: none;
          perspective: none;
}
