/**
  Pushpop.TableView
  =================
  pp-table-view
*/
ul.pp-table-view {
  background: #f7f7f7;
  font-size: 17px;
  line-height: 1.2em;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

ul.pp-table-view::before {
  background: #f7f7f7;
  content: '';
  position: absolute;
  right: 0;
  top: -1024px;
  left: 0;
  height: 1024px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

ul.pp-table-view::after {
  background: #f7f7f7;
  content: '';
  position: absolute;
  right: 0;
  bottom: -1024px;
  left: 0;
  height: 1024px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

div.pp-table-view-search-bar + ul.pp-table-view::before {
  background: #d6dde2;
  top: -1067px;
}

/* Clearfix */
ul.pp-table-view > li::before,
ul.pp-table-view > li::after { content: ''; display: table; }
ul.pp-table-view > li::after { clear: both; }

/**
  Pushpop.TableViewStyleGrouped
  =============================
  pp-table-view-style-grouped
*/
ul.pp-table-view.pp-table-view-style-grouped {
  background: #ddd;
  padding: 1em;
}

ul.pp-table-view.pp-table-view-style-grouped::before {
  background: #ddd;
  top: -1023px;
}

ul.pp-table-view.pp-table-view-style-grouped::after {
  background: #ddd;
  bottom: -1023px;
}

div.pp-table-view-search-bar + ul.pp-table-view.pp-table-view-style-grouped::before {
  background: #d6dde2;
  top: -1067px;
}

ul.pp-table-view-style-grouped > li:first-child {
  -webkit-border-radius: 0.65em 0.65em 0 0;
  -moz-border-radius-topleft: 0.65em;
  -moz-border-radius-topright: 0.65em;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-radius: 0.65em 0.65em 0 0;
}

ul.pp-table-view-style-grouped > li:last-child {
  -webkit-border-radius: 0 0 0.65em 0.65em;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0.65em;
  -moz-border-radius-bottomleft: 0.65em;
  border-radius: 0 0 0.65em 0.65em;
}

ul.pp-table-view-style-grouped > li:last-child:first-child {
  -webkit-border-radius: 0.65em;
  -moz-border-radius: 0.65em;
  border-radius: 0.65em;
}

ul.pp-table-view-style-grouped > li:first-child,
ul.pp-table-view-style-grouped > li.pp-table-view-selected-state:first-child {
  border-top: 1px solid #cacaca;
}

/**
  Pushpop.TableViewSearchBar
  ==========================
  pp-table-view-search-bar
*/
div.pp-table-view-search-bar {
  background: #d6dde2; /* Old browsers */
  background: -moz-linear-gradient(top,  #d6dde2 0%, #b3bec5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6dde2), color-stop(100%,#b3bec5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d6dde2 0%,#b3bec5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d6dde2 0%,#b3bec5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d6dde2 0%,#b3bec5 100%); /* IE10+ */
  background: linear-gradient(top,  #d6dde2 0%,#b3bec5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6dde2', endColorstr='#b3bec5',GradientType=0 ); /* IE6-9 */
  border: none;
  border-top: 1px solid #e3e9ed;
  border-bottom: 1px solid #717d85;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 1em;
  width: 100%;
  height: 3.25em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

div.pp-table-view-search-bar::before {
  border: 2px solid #959aa0;
  content: '';
  display: block;
  position: absolute;
  font-size: 1.1em;
  top: 0.95em;
  left: 1.2em;
  width: 0.6em;
  height: 0.6em;
  z-index: 2;
  -webkit-border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  border-radius: 0.6em;
}

div.pp-table-view-search-bar::after {
  background: #959aa0;
  content: '';
  display: block;
  position: absolute;
  top: 1.8em;
  left: 2.1em;
  width: 2px;
  height: 0.45em;
  z-index: 2;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

div.pp-table-view-search-bar > input {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(126, 142, 160, 0.75) rgba(166, 177, 188, 1) rgba(163, 175, 184, 1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  line-height: 1em;
  margin: 0;
  padding: 0.8em 0.2em 0 2em !important;
  position: absolute;
  top: 0.4em;
  right: 0.5em;
  left: 0.5em;
  width: auto;
  height: 1.15em;
  z-index: 1;
  outline: none;
  -webkit-border-radius: 1.1em;
  -moz-border-radius: 1.1em;
  border-radius: 1.1em;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: right 0.2s linear;
  -moz-transition: right 0.2s linear;
  -ms-transition: right 0.2s linear;
  -o-transition: right 0.2s linear;
  transition: right 0.2s linear;
  -webkit-appearance: none;
}

div.pp-table-view-search-bar > input:focus {
  right: 5.5em;
}

div.pp-table-view-search-bar > input::-webkit-input-placeholder { color: #bbb; } /* Must be contained in its own rule */
div.pp-table-view-search-bar > input:-moz-placeholder { color: #bbb; } /* Must be contained in its own rule */

div.pp-table-view-search-bar > a.pp-table-view-search-bar-clear-button {
  background: #b2b2b2;
  color: #fff;
  display: inline-block;
  top: 0.85em;
  right: 6.5em;
  width: 0;
  height: 1.4em;
  overflow: hidden;
  position: absolute;
  text-decoration: none;
  z-index: 1;
  -webkit-border-radius: 0.7em;
  -moz-border-radius: 0.7em;
  border-radius: 0.7em;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

div.pp-table-view-search-bar > a.pp-table-view-search-bar-clear-button.pp-active {
  width: 1.4em;
  -webkit-transition: width 0s linear 0.2s;
  -moz-transition: width 0s linear 0.2s;
  -ms-transition: width 0s linear 0.2s;
  -o-transition: width 0s linear 0.2s;
  transition: width 0s linear 0.2s;
}

div.pp-table-view-search-bar > a.pp-table-view-search-bar-clear-button:active {
  background: #80868d;
}

div.pp-table-view-search-bar > a.pp-table-view-search-bar-clear-button::before {
  background: #fff;
  content: '';
  display: block;
  position: absolute;
  width: 0.8em;
  height: 0.2em;
  top: 0.65em;
  left: 0.35em;
  -webkit-transform: rotate(45deg) scaleX(1.15);
  -moz-transform: rotate(45deg) scaleX(1.15);
  -ms-transform: rotate(45deg) scaleX(1.15);
  -o-transform: rotate(45deg) scaleX(1.15);
  transform: rotate(45deg) scaleX(1.15);
}

div.pp-table-view-search-bar > a.pp-table-view-search-bar-clear-button::after {
  background: #fff;
  content: '';
  display: block;
  position: absolute;
  width: 0.2em;
  height: 0.8em;
  top: 0.35em;
  left: 0.65em;
  -webkit-transform: rotate(45deg) scaleY(1.15);
  -moz-transform: rotate(45deg) scaleY(1.15);
  -ms-transform: rotate(45deg) scaleY(1.15);
  -o-transform: rotate(45deg) scaleY(1.15);
  transform: rotate(45deg) scaleY(1.15);
}

div.pp-table-view-search-bar > a.pp-table-view-search-bar-button {
  background: #8b99ae; /* Old browsers */
  background: -moz-linear-gradient(top,  #8b99ae 0%, #647791 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8b99ae), color-stop(100%,#647791)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #8b99ae 0%,#647791 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #8b99ae 0%,#647791 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #8b99ae 0%,#647791 100%); /* IE10+ */
  background: linear-gradient(top,  #8b99ae 0%,#647791 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b99ae', endColorstr='#647791',GradientType=0 ); /* IE6-9 */
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: inline-block;
  position: absolute;
  font-size: 1em;
  font-weight: bold;
  padding: 0.4em 0.65em;
  margin: 0.4em 0 0;
  right: -4.75em;
  width: 3.25em;
  line-height: 1.35em;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  text-align: center;
  text-decoration: none;
  cursor: default;
  z-index: 1;
  outline: none;
  opacity: 0;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.pp-table-view-search-bar > a.pp-table-view-search-bar-button:active {
  background: #758296; /* Old browsers */
  background: -moz-linear-gradient(top,  #758296 0%, #56677f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#758296), color-stop(100%,#56677f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #758296 0%,#56677f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #758296 0%,#56677f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #758296 0%,#56677f 100%); /* IE10+ */
  background: linear-gradient(top,  #758296 0%,#56677f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#758296', endColorstr='#56677f',GradientType=0 ); /* IE6-9 */
}

div.pp-table-view-search-bar > input:focus + a.pp-table-view-search-bar-button {
  opacity: 1;
  -webkit-transform: translate3d(-5.25em, 0, 0);
  -moz-transform: translate(-5.25em, 0);
  -ms-transform: translate(-5.25em, 0);
  -o-transform: translate(-5.25em, 0);
  transform: translate(-5.25em, 0);
}

div.pp-table-view-search-bar-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  font-size: 1em; 
  top: 3.4em;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  -moz-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  -ms-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  -o-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

div.pp-table-view-search-bar-overlay.pp-active {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/**
  Pushpop.TableViewCell (Base Class)
  ==================================
  pp-table-view-cell
*/
ul.pp-table-view > li {
  background-color: #f7f7f7;
  border: 1px solid #cacaca;
  border-top: 1px solid #fdfdfd;
  color: #000;
  line-height: 1.2em;
  padding: 0.7em 0.6em;
  position: relative;
  font-size: 1em;
  font-weight: bold;
  zoom: 1; /* Trigger "hasLayout" in IE */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: padding 0.2s linear;
  -moz-transition: padding 0.2s linear;
  -ms-transition: padding 0.2s linear;
  -o-transition: padding 0.2s linear;
  transition: padding 0.2s linear;
}

ul.pp-table-view.pp-table-view-editing > li {
  padding-left: 2.6em;
}

ul.pp-table-view > li.pp-table-view-selected-state {
  background: #058cf5; /* Old browsers */
  background: -moz-linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(5, 140, 245)), color-stop(100%, rgb(1, 93, 230))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* IE10+ */
  background: linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#058cf5', endColorstr='#015de6', GradientType=0); /* IE6-9 */
  border-top: 1px solid #058cf5;
  color: #fff;
  text-shadow: none;
}

/**
  Pushpop.SubtitleTableViewCell
  =============================
  pp-subtitle-table-view-cell
*/
li.pp-subtitle-table-view-cell {
  padding: 0 0.65em !important;
}

li.pp-subtitle-table-view-cell > h1 {
  color: #000;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.05em;
  font-weight: bold;
  line-height: 1.15em;
  margin: 0;
  text-rendering: auto;
}

li.pp-subtitle-table-view-cell > h2 {
  color: #808080;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0.2em 0 0;
  text-rendering: auto;
}

li.pp-subtitle-table-view-cell.pp-table-view-selected-state > h1,
li.pp-subtitle-table-view-cell.pp-table-view-selected-state > h2 {
  color: #fff;
}

/**
  Pushpop.ValueTableViewCell
  ==========================
  pp-value-table-view-cell
*/
li.pp-value-table-view-cell {
  padding: 0.6em 0.6em 0.7em !important;
}

li.pp-value-table-view-cell > h1,
li.pp-value-table-view-cell > h2 {
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.2em;
  width: 50%;
  text-rendering: auto;
}

li.pp-value-table-view-cell > h1 {
  color: #000;
  font-weight: bold;
  margin: 0;
}

li.pp-value-table-view-cell > h2 {
  color: #385487;
  font-weight: normal;
  margin: 0.1em 0 0;
  text-align: right;
}

li.pp-value-table-view-cell.pp-table-view-selected-state > h1,
li.pp-value-table-view-cell.pp-table-view-selected-state > h2 {
  color: #fff;
}

/**
  Pushpop.Value2TableViewCell
  ===========================
  pp-value2-table-view-cell
*/
li.pp-value2-table-view-cell {
  padding: 0.6em 0.6em 0.55em !important;
}

li.pp-value2-table-view-cell > h1,
li.pp-value2-table-view-cell > h2 {
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-rendering: auto;
}

li.pp-value2-table-view-cell > h1 {
  color: #516691;
  font-size: 0.75em;
  line-height: 1.6em;
  margin: 0.25em 0 0;
  width: 30%;
  text-align: right;
}

li.pp-value2-table-view-cell > h1::after {
  content: '\00a0\00a0'; /* Add spacer after the label text */
}

li.pp-value2-table-view-cell > h2 {
  color: #000;
  font-size: 0.9em;
  line-height: 1.4em;
  margin: 0.15em 0 0;
  width: 70%;
}

li.pp-value2-table-view-cell.pp-table-view-selected-state > h1,
li.pp-value2-table-view-cell.pp-table-view-selected-state > h2 {
  color: #fff;
}

/**
  Pushpop.InlineTextInputTableViewCell
  ====================================
  pp-inline-text-input-table-view-cell
*/
li.pp-inline-text-input-table-view-cell {
  padding: 0.55em 0.6em 0.55em !important;
}

li.pp-inline-text-input-table-view-cell > h1,
li.pp-inline-text-input-table-view-cell > input {
  float: left;
}

li.pp-inline-text-input-table-view-cell > h1 {
  color: #516691;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 1.6em;
  margin: 0.35em 0 0;
  width: 30%;
  text-align: right;
  text-rendering: auto;
}

li.pp-inline-text-input-table-view-cell > h1::after {
  content: '\00a0\00a0'; /* Add spacer after the label text */
}

li.pp-inline-text-input-table-view-cell > input {
  background: none;
  border: none;
  color: #000;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0.3em 0 0;
  padding: 0;
  outline: none;
  width: 70%;
  height: 1.2em;
  vertical-align: baseline;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

li.pp-value-table-view-cell.pp-table-view-selected-state > h1,
li.pp-value-table-view-cell.pp-table-view-selected-state > input {
  color: #fff;
}

/**
  Pushpop.TableViewCell.AccessoryType
  ===================================
  pp-table-view-cell-accessory
*/
span.pp-table-view-cell-accessory {
  display: block;
  position: absolute;
  margin-top: -1em;
  top: 50%;
  right: 0.35em;
  width: 2em;
  height: 2em;
}

/**
  Pushpop.TableViewCell.AccessoryType.DisclosureIndicator
  =======================================================
  pp-table-view-cell-accessory-disclosure-indicator
*/
span.pp-table-view-cell-accessory-disclosure-indicator::before {
  border-top: 1px solid #777;
  border-right: 1px solid #777;
  content: '';
  display: block;
  position: absolute;
  margin: -0.075em 0 0 -0.075em;
  top: 50%;
  left: 50%;
  width: 0.15em;
  height: 0.15em;
  -webkit-transform: scale(3) rotate(45deg);
  -moz-transform: scale(2) rotate(45deg);
  -ms-transform: scale(2) rotate(45deg);
  -o-transform: scale(2) rotate(45deg);
  transform: scale(2) rotate(45deg);
}

li.pp-table-view-selected-state > span.pp-table-view-cell-accessory-disclosure-indicator::before {
  border-color: #fff;
}

/**
  Pushpop.TableViewCell.AccessoryType.DetailDisclosureButton
  ==========================================================
  pp-table-view-cell-accessory-detail-disclosure-button
*/
span.pp-table-view-cell-accessory-detail-disclosure-button::before {
  background: #2972d9; /* Old browsers */
  background: -moz-linear-gradient(top, #6a9de5 0%, #2972d9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6a9de5), color-stop(100%, #2972d9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #6a9de5 0%, #2972d9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #6a9de5 0%, #2972d9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #6a9de5 0%, #2972d9 100%); /* IE10+ */
  background: linear-gradient(top, #6a9de5 0%, #2972d9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6a9de5', endColorstr='#2972d9', GradientType=0); /* IE6-9 */
  border: 0.15em solid #fff;
  content: '';
  display: block;
  position: absolute;
  margin: -0.715em 0 0 -0.675em;
  top: 50%;
  left: 50%;
  width: 1.2em;
  height: 1.2em;
  -webkit-border-radius: 1.2em;
  -moz-border-radius: 1.2em;
  border-radius: 1.2em;
  -webkit-box-shadow: 0 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.45);
  box-shadow: 0 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.45);
}

span.pp-table-view-cell-accessory-detail-disclosure-button::after {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  content: '';
  display: block;
  position: absolute;
  margin: -0.075em 0 0 -0.075em;
  top: 50%;
  left: 50%;
  width: 0.15em;
  height: 0.15em;
  -webkit-transform: scale(3) rotate(45deg);
  -moz-transform: scale(3) rotate(45deg);
  -ms-transform: scale(3) rotate(45deg);
  -o-transform: scale(3) rotate(45deg);
  transform: scale(3) rotate(45deg);
}

/**
  Pushpop.TableViewCell.AccessoryType.Checkmark
  =============================================
  pp-table-view-cell-accessory-checkmark
*/
span.pp-table-view-cell-accessory-checkmark::before {
  border: 0.25em solid transparent;
  border-color: transparent transparent #324f85 #324f85;
  content: '';
  display: block;
  position: absolute;
  margin: -0.575em 0 0 -0.575em;
  top: 50%;
  left: 50%;
  width: 0.8em;
  height: 0.3em;
  -webkit-transform: scaleX(0.625) rotate(-45deg);
  -moz-transform: scaleX(0.625) rotate(-45deg);
  -ms-transform: scaleX(0.625) rotate(-45deg);
  -o-transform: scaleX(0.625) rotate(-45deg);
  transform: scaleX(0.625) rotate(-45deg);
}

li.pp-table-view-selected-state > span.pp-table-view-cell-accessory-checkmark::before {
  border-color: transparent transparent #fff #fff;
}

/**
  Pushpop.TableViewCell.EditingAccessoryType
  ===================================
  pp-table-view-cell-editing-accessory
*/
span.pp-table-view-cell-editing-accessory {
  display: block;
  position: absolute;
  margin-top: -1em;
  top: 50%;
  left: 0.35em;
  width: 2em;
  height: 2em;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  -moz-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  -ms-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  -o-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

ul.pp-table-view-editing span.pp-table-view-cell-editing-accessory {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/**
  Pushpop.TableViewCell.AccessoryType.AddButton
  =============================================
  pp-table-view-cell-accessory-add-button
*/
span.pp-table-view-cell-editing-accessory-add-button::before {
  background: rgb(97,184,96); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(97,184,96,1) 0%, rgba(4,143,1,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(97,184,96,1)), color-stop(100%,rgba(4,143,1,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(97,184,96,1) 0%,rgba(4,143,1,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(97,184,96,1) 0%,rgba(4,143,1,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(97,184,96,1) 0%,rgba(4,143,1,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(97,184,96,1) 0%,rgba(4,143,1,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b860', endColorstr='#048f01',GradientType=0 ); /* IE6-9 */
  border: 0.15em solid #fff;
  content: '';
  display: block;
  position: absolute;
  margin: -0.715em 0 0 -0.675em;
  top: 50%;
  left: 50%;
  width: 1.2em;
  height: 1.2em;
  -webkit-border-radius: 1.2em;
  -moz-border-radius: 1.2em;
  border-radius: 1.2em;
  -webkit-box-shadow: 0 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.45);
  box-shadow: 0 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.45);
}

span.pp-table-view-cell-editing-accessory-add-button::after {
  color: #fff;
  content: '+';
  display: block;
  position: absolute;
  margin: -0.85em 0 0 -0.475em;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 0.2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.55em;
  font-weight: bold;
  line-height: 1.55em;
  text-align: center;
}

/**
  Pushpop.TableViewCell.AccessoryType.DeleteButton
  =============================================
  pp-table-view-cell-accessory-delete-button
*/
span.pp-table-view-cell-editing-accessory-delete-button::before {
  background: #bd1522; /* Old browsers */
  background: -moz-linear-gradient(top,  #d77077 0%, #bd1522 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d77077), color-stop(100%,#bd1522)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d77077 0%,#bd1522 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d77077 0%,#bd1522 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d77077 0%,#bd1522 100%); /* IE10+ */
  background: linear-gradient(top,  #d77077 0%,#bd1522 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d77077', endColorstr='#bd1522',GradientType=0 ); /* IE6-9 */
  border: 0.15em solid #fff;
  content: '';
  display: block;
  position: absolute;
  margin: -0.715em 0 0 -0.675em;
  top: 50%;
  left: 50%;
  width: 1.2em;
  height: 1.2em;
  -webkit-border-radius: 1.2em;
  -moz-border-radius: 1.2em;
  border-radius: 1.2em;
  -webkit-box-shadow: 0 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.45);
  box-shadow: 0 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.45);
}

span.pp-table-view-cell-editing-accessory-delete-button::after {
  background: #fff;
  content: '';
  display: block;
  position: absolute;
  margin: -0.1em 0 0 -0.4em;
  top: 50%;
  left: 50%;
  width: 0.85em;
  height: 0.2em;
}

/**
  **NOT YET IMPLEMENTED**
  Pushpop.TableViewIndex
  ======================
  pp-table-view-index
  **NOT YET IMPLEMENTED**
*/
div.pp-table-view-index {
  color: #555;
  font-weight: bold;
  font-size: 1em;
  line-height: 1em;
  position: fixed;
  top: 0;
  right: 0.1em;
  width: 1em;
  height: 100%;
  z-index: 999999;
}

div.pp-table-view-index::after {
  content: '?\00000aA\00000aB\00000aC\00000aD\00000aE\00000aF\00000aG\00000aH\00000aI\00000aJ\00000aK\00000aL\00000aM\00000aN\00000aO\00000aP\00000aQ\00000aR\00000aS\00000aT\00000aU\00000aV\00000aW\00000aX\00000aY\00000aZ\00000a#';
  display: block;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  white-space: pre;
}
