.pp-popover-view-stack {
  background: #333 url('../background.png');
  background-size: 320px 460px;
  position: absolute;
  overflow: hidden;
  padding: 0;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.25em;
  width: 320px;
  min-height: 440px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.6);
     -moz-box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.6);
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
       -o-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform:   translate(0, 0);
      -ms-transform:   translate(0, 0);
       -o-transform:   translate(0, 0);
          transform:   translate(0, 0);
  -webkit-transition: visibility 0s linear 0.4s, opacity 0.3s ease 0s;
     -moz-transition: visibility 0s linear 0.4s, opacity 0.3s ease 0s;
      -ms-transition: visibility 0s linear 0.4s, opacity 0.3s ease 0s;
       -o-transition: visibility 0s linear 0.4s, opacity 0.3s ease 0s;
          transition: visibility 0s linear 0.4s, opacity 0.3s ease 0s;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .pp-popover-view-stack {
    background: #333 url('../background@2x.png');
  }
}

.pp-popover-view-stack.pp-active {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
     -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.pp-popover-view-stack-backdrop {
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  width: auto;
  height: auto;
  z-index: 99998;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s;
     -moz-transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s;
      -ms-transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s;
       -o-transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s;
          transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s;
}

.pp-popover-view-stack.pp-active + .pp-popover-view-stack-backdrop {
  visibility: visible;
  opacity: 0.5;
  -webkit-transition-delay: 0s;
     -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}
