@font-face {
  font-family: 'PushpopGlyphsRegular';
  src: url('pushpop-glyphs-webfont.eot');
  src: url('pushpop-glyphs-webfont.eot?#iefix') format('eot'), url('pushpop-glyphs-webfont.woff') format('woff'), url('pushpop-glyphs-webfont.ttf') format('truetype'), url('pushpop-glyphs-webfont.svg#PushpopGlyphsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='pp-icon-']::before, [class*=' pp-icon-']::before {
  font-family: PushpopGlyphsRegular;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

a [class^='pp-icon-'], a [class*=' pp-icon-'] {
  display: inline-block;
  text-decoration: inherit;
}

.pp-icon-large::before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}

.btn [class^='pp-icon-'], .btn [class*=' pp-icon-'] {
  line-height: 0.9em;
}

li [class^='pp-icon-'], li [class*=' pp-icon-'] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

li .pp-icon-large[class^='pp-icon-'], li .pp-icon-large[class*=' pp-icon-'] {
  width: 1.875em;
}

li[class^='pp-icon-'], li[class*=' pp-icon-'] {
  margin-left: 0;
  list-style-type: none;
}

li[class^='pp-icon-']::before, li[class*=' pp-icon-']::before {
  text-indent: -2em;
  text-align: center;
}

li[class^='pp-icon-'].icon-large::before, li[class*=' pp-icon-'].icon-large::before {
  text-indent: -1.3333333333333333em;
}

.pp-icon-disclosure-indicator::before                           { content: '\f000'; }
.pp-icon-remove::before                                         { content: '\f001'; }
.pp-icon-add::before                                            { content: '\f002'; }
.pp-icon-checkmark::before                                      { content: '\f003'; }
.pp-icon-action::before                                         { content: '\f004'; }
.pp-icon-documents::before                                      { content: '\f005'; }
.pp-icon-document-count::before                                 { content: '\f006'; }
.pp-icon-close::before                                          { content: '\f007'; }
.pp-icon-search::before                                         { content: '\f008'; }
.pp-icon-reload::before                                         { content: '\f009'; }
.pp-icon-trash::before                                          { content: '\f00a'; }
.pp-icon-location::before                                       { content: '\f00b'; }
/*.pp-icon-book::before                                           { content: '\f00c'; }*/
.pp-icon-download::before                                       { content: '\f00d'; }
.pp-icon-square-badge::before                                   { content: '\f00e'; }
.pp-icon-airplay::before                                        { content: '\f00f'; }
.pp-icon-play::before                                           { content: '\f010'; }
.pp-icon-stop::before                                           { content: '\f011'; }
.pp-icon-pause::before                                          { content: '\f012'; }
.pp-icon-previous-track::before                                 { content: '\f013'; }
.pp-icon-next-track::before                                     { content: '\f014'; }
.pp-icon-rewind::before                                         { content: '\f015'; }
.pp-icon-fast-forward::before                                   { content: '\f016'; }
.pp-icon-compose::before                                        { content: '\f017'; }
