/**
  Pushpop.TableView
  =================
  pp-table-view
*/
.pp-table-view {
  background: #f7f7f7;
  font-size: 17px;
  line-height: 1.2em;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.pp-table-view::before {
  background: #f7f7f7;
  content: '';
  position: absolute;
  right: 0;
  top: -1024px;
  left: 0;
  height: 1024px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.pp-table-view::after {
  background: #f7f7f7;
  content: '';
  position: absolute;
  right: 0;
  bottom: -1024px;
  left: 0;
  height: 1024px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.sk-scroll-view-plain .pp-table-view::before,
.sk-scroll-view-plain .pp-table-view::after {
  background: none;
}

.pp-table-view-search-bar + .pp-table-view::before {
  background: #d6dde2;
  top: -1067px;
}

/* Clearfix */
.pp-table-view > li::before,
.pp-table-view > li::after { content: ''; display: table; }
.pp-table-view > li::after { clear: both; }

/**
  Pushpop.TableViewStyleGrouped
  =============================
  pp-table-view-style-grouped
*/
.pp-table-view.pp-table-view-style-grouped {
  background: #ddd;
  padding: 1em;
}

.pp-table-view.pp-table-view-style-grouped::before {
  background: #ddd;
  top: -1023px;
}

.pp-table-view.pp-table-view-style-grouped::after {
  background: #ddd;
  bottom: -1023px;
}

.pp-table-view-search-bar + .pp-table-view.pp-table-view-style-grouped::before {
  background: #d6dde2;
  top: -1067px;
}

.sk-scroll-view-plain .pp-table-view.pp-table-view-style-grouped::before,
.sk-scroll-view-plain .pp-table-view.pp-table-view-style-grouped::after {
  background: none;
}

.pp-table-view-style-grouped > li {
  background: #f7f7f7;
}

.pp-table-view-style-grouped > li:first-child {
  -webkit-border-radius: 0.65em 0.65em 0 0;
  -moz-border-radius-topleft: 0.65em;
  -moz-border-radius-topright: 0.65em;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-radius: 0.65em 0.65em 0 0;
}

.pp-table-view-style-grouped > li:last-child {
  -webkit-border-radius: 0 0 0.65em 0.65em;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0.65em;
  -moz-border-radius-bottomleft: 0.65em;
  border-radius: 0 0 0.65em 0.65em;
}

.pp-table-view-style-grouped > li:last-child:first-child {
  -webkit-border-radius: 0.65em;
  -moz-border-radius: 0.65em;
  border-radius: 0.65em;
}

.pp-table-view-style-grouped > li:first-child,
.pp-table-view-style-grouped > li.pp-table-view-selected-state:first-child {
  border-top: 1px solid #cacaca;
}

/**
  Pushpop.TableViewSearchBar
  ==========================
  pp-table-view-search-bar
*/
.pp-table-view-search-bar {
  background: #d6dde2; /* Old browsers */
  background: -moz-linear-gradient(top,  #d6dde2 0%, #b3bec5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6dde2), color-stop(100%,#b3bec5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d6dde2 0%,#b3bec5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d6dde2 0%,#b3bec5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d6dde2 0%,#b3bec5 100%); /* IE10+ */
  background: linear-gradient(top,  #d6dde2 0%,#b3bec5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6dde2', endColorstr='#b3bec5',GradientType=0 ); /* IE6-9 */
  border: none;
  border-top: 1px solid #e3e9ed;
  border-bottom: 1px solid #717d85;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 1em;
  width: 100%;
  height: 42px;
  overflow: hidden;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.pp-table-view-search-bar::before {
  content: '\f008';
  color: #959aa0;
  font-family: PushpopGlyphs;
  font-size: 1.6em;
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 17px;
  z-index: 2;
}

.pp-table-view-search-bar > input {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(126, 142, 160, 0.75) rgba(166, 177, 188, 1) rgba(163, 175, 184, 1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  outline: none;
  margin: 5px 7px;
  padding: 7px 7px 6px 28px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  z-index: 1;
  -webkit-border-radius: 1.25em;
  -moz-border-radius: 1.25em;
  border-radius: 1.25em;
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.7);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: right 0.2s linear;
  -moz-transition: right 0.2s linear;
  -ms-transition: right 0.2s linear;
  -o-transition: right 0.2s linear;
  transition: right 0.2s linear;
  -webkit-appearance: none;
}

.pp-table-view-search-bar > input:focus {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(126, 142, 160, 0.75) rgba(166, 177, 188, 1) rgba(163, 175, 184, 1);
  right: 5em;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.7);
}

.pp-table-view-search-bar > input::-webkit-input-placeholder { color: #bbb; } /* Must be contained in its own rule */
.pp-table-view-search-bar > input:-moz-placeholder { color: #bbb; } /* Must be contained in its own rule */

.pp-table-view-search-bar-clear-button {
  color: #b2b2b2;
  font-family: PushpopGlyphs;
  font-size: 1.9em;
  position: absolute;
  top: 13px;
  right: 84px;
  z-index: 2;
  visibility: hidden;
}

.pp-table-view-search-bar-clear-button:hover,
.pp-table-view-search-bar-clear-button:visited {
  color: #b2b2b2;
}

.pp-table-view-search-bar-clear-button::before {
  content: '\f007';
}

.pp-table-view-search-bar-clear-button.pp-active {
  visibility: visible;
  -webkit-transition: visibility 0s linear 0.2s;
  -moz-transition: visibility 0s linear 0.2s;
  -ms-transition: visibility 0s linear 0.2s;
  -o-transition: visibility 0s linear 0.2s;
  transition: visibility 0s linear 0.2s;
}

.pp-table-view-search-bar-clear-button.pp-active:active {
  color: #80868d;
}

.pp-table-view-search-bar-button {
  background: #8b99ae; /* Old browsers */
  background: -moz-linear-gradient(top,  #8b99ae 0%, #647791 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8b99ae), color-stop(100%,#647791)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #8b99ae 0%,#647791 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #8b99ae 0%,#647791 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #8b99ae 0%,#647791 100%); /* IE10+ */
  background: linear-gradient(top,  #8b99ae 0%,#647791 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b99ae', endColorstr='#647791',GradientType=0 ); /* IE6-9 */
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1.4em;
  position: absolute;
  padding: 0.55em 0.8em 0.5em;
  margin: 0.5em 0 0.5em 0.25em;
  min-width: 1.5em;
  outline: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  zoom: 1; /* Trigger "hasLayout" in IE */
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
  visibility: visible;
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s linear;
  -moz-transition: -moz-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  transition: transform 0.3s linear;
  width: 3.2em;
  top: 0.1em;
  right: -5em;
}

.pp-table-view-search-bar-button:active {
  background: #758296; /* Old browsers */
  background: -moz-linear-gradient(top,  #758296 0%, #56677f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#758296), color-stop(100%,#56677f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #758296 0%,#56677f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #758296 0%,#56677f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #758296 0%,#56677f 100%); /* IE10+ */
  background: linear-gradient(top,  #758296 0%,#56677f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#758296', endColorstr='#56677f',GradientType=0 ); /* IE6-9 */
  color: #fff;
  text-decoration: none;
}

.pp-table-view-search-bar-button:hover, .pp-table-view-search-bar-button:visited {
  color: #fff;
  text-decoration: none;
}

.pp-table-view-search-bar > input:focus + .pp-table-view-search-bar-button {
  opacity: 1;
  -webkit-transform: translate3d(-5.5em, 0, 0);
  -moz-transform: translate(-5.5em, 0);
  -ms-transform: translate(-5.5em, 0);
  -o-transform: translate(-5.5em, 0);
  transform: translate(-5.5em, 0);
}

.pp-table-view-search-bar-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  font-size: 1em; 
  top: 3.4em;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  -moz-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  -ms-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  -o-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

.pp-table-view-search-bar-overlay.pp-active {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/**
  Pushpop.TableViewCell (Base Class)
  ==================================
  pp-table-view-cell-default
*/
.pp-table-view > li {
  background: #f7f7f7;
  border: 1px solid #cacaca;
  border-top: 1px solid #fdfdfd;
  position: relative;
  zoom: 1; /* Trigger "hasLayout" in IE */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: padding 0.2s linear;
  -moz-transition: padding 0.2s linear;
  -ms-transition: padding 0.2s linear;
  -o-transition: padding 0.2s linear;
  transition: padding 0.2s linear;
}

.pp-table-view-cell-default {
  color: #000;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2em;
  padding: 11px 10px;
}

.pp-table-view.pp-table-view-editing > li {
  padding-left: 2.6em;
}

.pp-table-view > .pp-table-view-selected-state {
  background: #058cf5; /* Old browsers */
  background: -moz-linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(5, 140, 245)), color-stop(100%, rgb(1, 93, 230))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* IE10+ */
  background: linear-gradient(top, rgb(5, 140, 245) 0%, rgb(1, 93, 230) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#058cf5', endColorstr='#015de6', GradientType=0); /* IE6-9 */
  border-top: 1px solid #058cf5;
  color: #fff;
  text-shadow: none;
}

/**
  Pushpop.SubtitleTableViewCell
  =============================
  pp-subtitle-table-view-cell
*/
.pp-subtitle-table-view-cell {
  padding: 0 10px;
}

.pp-subtitle-table-view-cell > h1 {
  color: #000;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.1em;
  margin: 0;
  text-rendering: auto;
}

.pp-subtitle-table-view-cell > h2 {
  color: #808080;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 2px 0 0;
  text-rendering: auto;
}

.pp-subtitle-table-view-cell.pp-table-view-selected-state > h1,
.pp-subtitle-table-view-cell.pp-table-view-selected-state > h2 {
  color: #fff;
}

/**
  Pushpop.ValueTableViewCell
  ==========================
  pp-value-table-view-cell
*/
.pp-value-table-view-cell {
  padding: 10px 10px 12px;
}

.pp-value-table-view-cell > h1,
.pp-value-table-view-cell > h2 {
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.1em;
  width: 50%;
  text-rendering: auto;
}

.pp-value-table-view-cell > h1 {
  color: #000;
  font-weight: bold;
  margin: 0;
}

.pp-value-table-view-cell > h2 {
  color: #385487;
  font-weight: normal;
  margin: 2px 0 0;
  text-align: right;
}

.pp-value-table-view-cell.pp-table-view-selected-state > h1,
.pp-value-table-view-cell.pp-table-view-selected-state > h2 {
  color: #fff;
}

/**
  Pushpop.Value2TableViewCell
  ===========================
  pp-value2-table-view-cell
*/
.pp-value2-table-view-cell {
  padding: 10px 10px 11px;
}

.pp-value2-table-view-cell > h1,
.pp-value2-table-view-cell > h2 {
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-rendering: auto;
}

.pp-value2-table-view-cell > h1 {
  color: #516691;
  font-size: 0.75em;
  line-height: 1em;
  margin: 7px 0 0;
  width: 30%;
  text-align: right;
}

.pp-value2-table-view-cell > h1::after {
  content: '\00a0\00a0'; /* Add spacer after the label text */
}

.pp-value2-table-view-cell > h2 {
  color: #000;
  font-size: 0.9em;
  line-height: 1em;
  margin: 4px 0 2px;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pp-value2-table-view-cell.pp-table-view-selected-state > h1,
.pp-value2-table-view-cell.pp-table-view-selected-state > h2 {
  color: #fff;
}

/**
  Pushpop.InlineTextInputTableViewCell
  ====================================
  pp-inline-text-input-table-view-cell
*/
.pp-inline-text-input-table-view-cell {
  padding: 10px 10px 11px;
}

.pp-inline-text-input-table-view-cell > h1,
.pp-inline-text-input-table-view-cell > input {
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-rendering: auto;
}

.pp-inline-text-input-table-view-cell > h1 {
  color: #516691;
  font-size: 0.75em;
  line-height: 1em;
  margin: 7px 0 0;
  width: 30%;
  text-align: right;
}

.pp-inline-text-input-table-view-cell > h1::after {
  content: '\00a0\00a0'; /* Add spacer after the label text */
}

.pp-inline-text-input-table-view-cell > input,
.pp-inline-text-input-table-view-cell > input:focus {  
  background: none;
  border: none;
  color: #000;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1em;
  margin: 3px 0 0;
  padding: 0;
  outline: none;
  width: 70%;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.pp-inline-text-input-table-view-cell.pp-table-view-selected-state > h1,
.pp-inline-text-input-table-view-cell.pp-table-view-selected-state > input {
  color: #fff;
}

/**
  Pushpop.TextAreaInputTableViewCell
  ==================================
  pp-text-area-input-table-view-cell
*/
.pp-text-area-input-table-view-cell {
  padding: 10px 10px 11px;
}

.pp-text-area-input-table-view-cell > h1,
.pp-text-area-input-table-view-cell > h2 {
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-rendering: auto;
}

.pp-text-area-input-table-view-cell > h1 {
  color: #516691;
  font-size: 0.75em;
  line-height: 1em;
  margin: 7px 0 2px;
  width: 30%;
  text-align: right;
}

.pp-text-area-input-table-view-cell > h1::after {
  content: '\00a0\00a0'; /* Add spacer after the label text */
}

.pp-text-area-input-table-view-cell > h2 {
  color: #000;
  font-size: 0.9em;
  line-height: 1em;
  margin: 4px 0 0;
  position: absolute;
  left: 30%;
  right: 20px;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pp-text-area-input-table-view-cell > h2::before {
  content: '\00a0\00a0'; /* Add spacer after the label text */
  font-size: 0.5em;
}

.pp-text-area-input-table-view-cell.pp-table-view-selected-state > h1,
.pp-text-area-input-table-view-cell.pp-table-view-selected-state > h2 {
  color: #fff;
}

.pp-text-area-input-table-view-cell-textarea {
  background: #fff;
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  outline: none;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

/**
  Pushpop.SelectInputTableViewCell
  ==================================
  pp-select-input-table-view-cell
*/
.pp-select-input-table-view-cell {
  padding: 10px 10px 11px;
}

.pp-select-input-table-view-cell > h1,
.pp-select-input-table-view-cell > h2 {
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-rendering: auto;
}

.pp-select-input-table-view-cell > h1 {
  color: #516691;
  font-size: 0.75em;
  line-height: 1em;
  margin: 7px 0 0;
  width: 30%;
  text-align: right;
}

.pp-select-input-table-view-cell > h1::after {
  content: '\00a0\00a0'; /* Add spacer after the label text */
}

.pp-select-input-table-view-cell > h2 {
  color: #000;
  font-size: 0.9em;
  line-height: 1em;
  margin: 4px 0 2px;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pp-select-input-table-view-cell.pp-table-view-selected-state > h1,
.pp-select-input-table-view-cell.pp-table-view-selected-state > h2 {
  color: #fff;
}

/**
  Pushpop.DateInputTableViewCell
  ==============================
  pp-date-input-table-view-cell
*/
.pp-date-input-table-view-cell {
  padding: 10px 10px 11px;
}

.pp-date-input-table-view-cell > h1,
.pp-date-input-table-view-cell > h2 {
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-rendering: auto;
}

.pp-date-input-table-view-cell > h1 {
  color: #516691;
  font-size: 0.75em;
  line-height: 1em;
  margin: 7px 0 0;
  width: 30%;
  text-align: right;
}

.pp-date-input-table-view-cell > h1::after {
  content: '\00a0\00a0'; /* Add spacer after the label text */
}

.pp-date-input-table-view-cell > h2 {
  color: #000;
  font-size: 0.9em;
  line-height: 1em;
  margin: 4px 0 2px;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pp-date-input-table-view-cell.pp-table-view-selected-state > h1,
.pp-date-input-table-view-cell.pp-table-view-selected-state > h2 {
  color: #fff;
}

/**
  Pushpop.TimeInputTableViewCell
  ==============================
  pp-time-input-table-view-cell
*/
.pp-time-input-table-view-cell {
  padding: 10px 10px 11px;
}

.pp-time-input-table-view-cell > h1,
.pp-time-input-table-view-cell > h2 {
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-rendering: auto;
}

.pp-time-input-table-view-cell > h1 {
  color: #516691;
  font-size: 0.75em;
  line-height: 1em;
  margin: 7px 0 0;
  width: 30%;
  text-align: right;
}

.pp-time-input-table-view-cell > h1::after {
  content: '\00a0\00a0'; /* Add spacer after the label text */
}

.pp-time-input-table-view-cell > h2 {
  color: #000;
  font-size: 0.9em;
  line-height: 1em;
  margin: 4px 0 2px;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pp-time-input-table-view-cell.pp-table-view-selected-state > h1,
.pp-time-input-table-view-cell.pp-table-view-selected-state > h2 {
  color: #fff;
}

/**
  Pushpop.TableViewCell.AccessoryType
  ===================================
  pp-table-view-cell-accessory
*/
.pp-table-view-cell-accessory {
  display: block;
  font-family: PushpopGlyphs;
  font-size: 1em;
  line-height: 2em;
  position: absolute;
  margin-top: -1em;
  top: 50%;
  right: 0;
  width: 2em;
  height: 2em;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.pp-table-view-cell-accessory::after {
  margin-left: 0.8em;
}

.pp-table-view-selected-state > .pp-table-view-cell-accessory::after {
  color: #fff;
}

/**
  Pushpop.TableViewCell.AccessoryType.DisclosureIndicator
  =======================================================
  pp-table-view-cell-accessory-disclosure-indicator
*/
.pp-table-view-cell-accessory-disclosure-indicator::after {
  color: #777;
  content: '\f000';
  position: absolute;
}

/**
  Pushpop.TableViewCell.AccessoryType.DetailDisclosureButton
  ==========================================================
  pp-table-view-cell-accessory-detail-disclosure-button
*/
.pp-table-view-cell-accessory-detail-disclosure-button::before {
  background: #2972d9; /* Old browsers */
  background: -moz-linear-gradient(top, #6a9de5 0%, #2972d9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6a9de5), color-stop(100%, #2972d9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #6a9de5 0%, #2972d9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #6a9de5 0%, #2972d9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #6a9de5 0%, #2972d9 100%); /* IE10+ */
  background: linear-gradient(top, #6a9de5 0%, #2972d9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6a9de5', endColorstr='#2972d9', GradientType=0); /* IE6-9 */
  border: 2px solid #fff;
  content: '';
  display: block;
  position: absolute;
  margin: 0.3em 0 0 0.3em;
  width: 1.2em;
  height: 1.2em;
  -webkit-border-radius: 1.2em;
  -moz-border-radius: 1.2em;
  border-radius: 1.2em;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

.pp-table-view-cell-accessory-detail-disclosure-button::after {
  color: #fff;
  content: '\f000';
  position: absolute;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

/**
  Pushpop.TableViewCell.AccessoryType.Checkmark
  =============================================
  pp-table-view-cell-accessory-checkmark
*/
.pp-table-view-cell-accessory-checkmark::after {
  color: #324f85;
  content: '\f003';
  position: absolute;
}

/**
  Pushpop.TableViewCell.AccessoryType.ConfirmDeleteButton
  =======================================================
  pp-table-view-cell-accessory-confirm-delete-button
*/
.pp-table-view-cell-accessory-confirm-delete-button {
  background: #ed8288; /* Old browsers */
  background: -moz-linear-gradient(top,  #ed8288 0%, #c83640 50%, #be1623 51%, #bd1421 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed8288), color-stop(50%,#c83640), color-stop(51%,#be1623), color-stop(100%,#bd1421)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ed8288 0%,#c83640 50%,#be1623 51%,#bd1421 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ed8288 0%,#c83640 50%,#be1623 51%,#bd1421 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ed8288 0%,#c83640 50%,#be1623 51%,#bd1421 100%); /* IE10+ */
  background: linear-gradient(top,  #ed8288 0%,#c83640 50%,#be1623 51%,#bd1421 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed8288', endColorstr='#bd1421',GradientType=0 ); /* IE6-9 */
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.3em 0 0.25em;
	margin: 0.45em 0.5em 0.5em;
	width: 4.25em;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  white-space: nowrap;
	zoom: 1; /* Trigger "hasLayout" in IE */
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  -moz-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  -ms-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  -o-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

.pp-table-view-cell-editing-accessory-delete-button.pp-active ~ .pp-table-view-cell-accessory-confirm-delete-button {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.pp-table-view-cell-accessory-confirm-delete-button:active {
  background: #a65960; /* Old browsers */
  background: -moz-linear-gradient(top,  #a65960 0%, #94262f 50%, #8d141e 51%, #8d131e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a65960), color-stop(50%,#94262f), color-stop(51%,#8d141e), color-stop(100%,#8d131e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a65960 0%,#94262f 50%,#8d141e 51%,#8d131e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a65960 0%,#94262f 50%,#8d141e 51%,#8d131e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a65960 0%,#94262f 50%,#8d141e 51%,#8d131e 100%); /* IE10+ */
  background: linear-gradient(top,  #a65960 0%,#94262f 50%,#8d141e 51%,#8d131e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a65960', endColorstr='#8d131e',GradientType=0 ); /* IE6-9 */
}

.pp-table-view-cell-accessory-confirm-delete-button::after {
  content: 'Delete';
  position: absolute;
  top: 0.25em;
  margin: 0;
  width: 4.25em;
  text-align: center;
}

/**
  Pushpop.TableViewCell.EditingAccessoryType
  ===================================
  pp-table-view-cell-editing-accessory
*/
.pp-table-view-cell-editing-accessory {
  display: block;
  font-family: PushpopGlyphs;
  font-size: 1em;
  line-height: 2.1em;
  position: absolute;
  margin-top: -1em;
  top: 50%;
  left: 0;
  width: 2em;
  height: 2em;
  visibility: hidden;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  -moz-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  -ms-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  -o-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

.pp-table-view-editing .pp-table-view-cell-editing-accessory {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.pp-table-view-cell-editing-accessory::after {
  margin-left: 0.6em;
}

/**
  Pushpop.TableViewCell.EditingAccessoryType.AddButton
  ====================================================
  pp-table-view-cell-editing-accessory-add-button
*/
.pp-table-view-cell-editing-accessory-add-button::before {
  background: #5fb860; /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(97,184,96,1) 0%, rgba(4,143,1,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(97,184,96,1)), color-stop(100%,rgba(4,143,1,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(97,184,96,1) 0%,rgba(4,143,1,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(97,184,96,1) 0%,rgba(4,143,1,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(97,184,96,1) 0%,rgba(4,143,1,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(97,184,96,1) 0%,rgba(4,143,1,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b860', endColorstr='#048f01',GradientType=0 ); /* IE6-9 */
  border: 2px solid #fff;
  content: '';
  display: block;
  position: absolute;
  margin: 0.3em 0 0 0.3em;
  width: 1.2em;
  height: 1.2em;
  -webkit-border-radius: 1.2em;
  -moz-border-radius: 1.2em;
  border-radius: 1.2em;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

.pp-table-view-cell-editing-accessory-add-button::after {
  color: #fff;
  content: '\f002';
  position: absolute;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

/**
  Pushpop.TableViewCell.EditingAccessoryType.DeleteButton
  =======================================================
  pp-table-view-cell-editing-accessory-delete-button
*/
.pp-table-view-cell-editing-accessory-delete-button {
  -webkit-transition: visibility 0s linear 0.2s, opacity 0.2s linear, -webkit-transform 0.2s linear;
  -moz-transition: visibility 0s linear 0.2s, opacity 0.2s linear, -moz-transform 0.2s linear;
  -ms-transition: visibility 0s linear 0.2s, opacity 0.2s linear, -ms-transform 0.2s linear;
  -o-transition: visibility 0s linear 0.2s, opacity 0.2s linear, -o-transform 0.2s linear;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear, transform 0.2s linear;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.pp-table-view-cell-editing-accessory-delete-button::before {
  background: #bd1522; /* Old browsers */
  background: -moz-linear-gradient(top,  #d77077 0%, #bd1522 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d77077), color-stop(100%,#bd1522)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d77077 0%,#bd1522 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d77077 0%,#bd1522 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d77077 0%,#bd1522 100%); /* IE10+ */
  background: linear-gradient(top,  #d77077 0%,#bd1522 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d77077', endColorstr='#bd1522',GradientType=0 ); /* IE6-9 */
  border: 2px solid #fff;
  content: '';
  display: block;
  position: absolute;
  margin: 0.3em 0 0 0.3em;
  width: 1.2em;
  height: 1.2em;
  -webkit-border-radius: 1.2em;
  -moz-border-radius: 1.2em;
  border-radius: 1.2em;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

.pp-table-view-cell-editing-accessory-delete-button::after {
  color: #fff;
  content: '\f001';
  position: absolute;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.pp-table-view-cell-editing-accessory-delete-button.pp-active {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/**
  **NOT YET IMPLEMENTED**
  Pushpop.TableViewIndex
  ======================
  pp-table-view-index
  **NOT YET IMPLEMENTED**
*/
.pp-table-view-index {
  color: #555;
  font-weight: bold;
  font-size: 1em;
  line-height: 1em;
  position: fixed;
  top: 0;
  right: 0.1em;
  width: 1em;
  height: 100%;
  z-index: 999999;
}

.pp-table-view-index::after {
  content: '?\00000aA\00000aB\00000aC\00000aD\00000aE\00000aF\00000aG\00000aH\00000aI\00000aJ\00000aK\00000aL\00000aM\00000aN\00000aO\00000aP\00000aQ\00000aR\00000aS\00000aT\00000aU\00000aV\00000aW\00000aX\00000aY\00000aZ\00000a#';
  display: block;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  white-space: pre;
}
